<p-toast></p-toast>
<div class="card p-fluid">
    <div class="text-center">
        <h5>Tur ekle</h5>
    </div>
    <div class="p-formgrid grid">
        <div [class]="'field col'">
            <label>Tur kategori</label>
            <p-dropdown [options]="tours" [(ngModel)]="tourItem.tour" optionLabel="name" placeholder="Tur seç"
                (ngModelChange)="changeTour()"></p-dropdown>
        </div>

        <div class="field col-3" *ngIf="tourItem.tour.id">
            <label htmlFor="name2">Ad</label>
            <input pInputText id="name2" placeholder="Ad" type="text" [(ngModel)]="tourItem.name" />
        </div>
        <div class="field col-3" *ngIf="tourItem.tour.id">
            <label htmlFor="name2">Adres</label>
            <input pInputText id="name2" placeholder="Adres" type="text" [(ngModel)]="tourItem.address" />
        </div>
        <div class="field col-3" *ngIf="tourItem.tour.id">
            <label htmlFor="name2">Fiyat</label>
            <p-inputNumber [(ngModel)]="tourItem.price" inputId="currency-tr" mode="currency" currency="TRY"
                locale="en-TR">
            </p-inputNumber>
        </div>
        <div class="field col-12" *ngIf="tourItem.tour.id">
            <label htmlFor="name2">Kısa açıklama</label>
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" placeholder="Açıklama"
                [(ngModel)]="tourItem.shortDescription"></textarea>
        </div>
        <div class="field col-12" *ngIf="tourItem.tour.id">
            <label htmlFor="name2">Uzun açıklama</label>
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" placeholder="Açıklama"
                [(ngModel)]="tourItem.longDescription"></textarea>
        </div>

        <div class="field col-12" *ngIf="tourItem.tour.id">
            <button pButton pRipple type="button" label="Kaydet" class="p-button-raised mr-2 mb-2"
                (click)="saveTourItem()"></button>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-3" *ngFor="let tourItem of tourItems">
        <p-card [header]="tourItem.name" [subheader]="tourItem.address" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <div style="text-align: right;">
                    <p-button label="X" styleClass="p-button-danger"
                        (click)="deleteTourItemFunction(tourItem)"></p-button>
                </div>
                <img alt="Card" [src]="tourItem.imageUrls[0]">
            </ng-template>
            <hr>
            <div class="flex align-items-center justify-content-between">
                <span style="font-weight: 600; font-size:25px; color: red;">
                    {{tourItem.price|number: '1.2-2'}}₺
                </span>
                <p-button label="Details" icon="pi pi-angle-right" styleClass="p-button-secondary"></p-button>
            </div>
        </p-card>
    </div>
</div>

<p-dialog [(visible)]="deleteTourItemDialog" header="Onaylama" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Silmek istediğine emin misin <b>{{deleteTourItem.name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>