<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="orders" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['']"
                [paginator]="true" [showCurrentPageReport]="true" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <button pButton pRipple label="Yeni" icon="pi pi-plus" class="p-button-success mr-2"
                            [routerLink]="'/component/user/add'"></button>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>Tur adı</th>
                        <th>Ad Soyad</th>
                        <th>Telefon Numarası</th>
                        <th>Kalınacak gün sayısı</th>
                        <th>Yetişkin</th>
                        <th>Çocuk</th>
                        <th>Tarih</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>{{order.tourItem.name}}</td>
                        <td>{{order.fullName}}</td>
                        <td>{{order.phoneNumber}}</td>
                        <td>{{order.tourTime}}</td>
                        <td>{{order.adult}}</td>
                        <td>{{order.child}}</td>
                        <td>{{order.date|date:'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>